/franz_hsa/synth_data/for_validating_ply_to_vtp_conversion/
/franz_hsa/synth_data/
/franz_hsa/Laus_file.vtp
/franz_hsa/Laus_file.ply
/franz_hsa/hsa_scores.xlsx
/franz_hsa/hsa_try.xlsx
/franz_hsa/hsa_calculation/run_various_crop_percentages.py
/franz_hsa/hsa_calculation/hsa_calculator_patient_pre_n_post_op.py
/franz_hsa/experiments/
.idea/workspace.xml
.idea/3dphoto.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/vcs.xml
__pycache__/__init__.cpython-39.pyc
__pycache__/Analyze3DPhotogram.cpython-39.pyc
franz_hsa/landmark_prediction_evaluation/__pycache__/export_landmarks.cpython-39.pyc
/CraniosynostosisClassifier/
/data/
/NormativePCAModel/
tools/__pycache__/PhotoAnalysisTools.cpython-39.pyc
tools/__pycache__/LandmarkingUtils.cpython-39.pyc
tools/__pycache__/DataSetGraph.cpython-39.pyc
